<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ArticlesPath" value="c:\temp\ppc\articles.xml" />
    <add key="CashRegisterClosurePath" value="c:\temp\PPC data from club\closure\"/>
    <add key="MongoSettingsPath" value="c:\temp\ppc\mongo.settings"/>
  </appSettings>
</configuration>